.flexbox {
    display: flex;
    direction: row;
}

.listArrows {
    list-style-type: "→ ";
}

.listArrows li {
    margin-left: 24px;
    margin-bottom: 8px;
}

.paragraph {
    font-size: 17px;
    line-height: 22px;
    padding: 0px;
    padding-right: 12px;
    padding-left: 12px;
}

.paragraph em {
    color: blanchedalmond;
}

.highlight1 {
    color: rgb(187, 176, 158);
    text-decoration: none;
}

.darkhighlight {
    background-color: rgba(7, 2, 44, 0.5);
    padding-top: 2px;
    padding-left: 4px;
    padding-right: 7px;
    padding-bottom: 2px;
    border-radius: 4px;
    border-color: rgb(11, 11, 54);
    border-width: 2px;
    color: blanchedalmond;
}

.containerFloat {
    width: 100%;
}

.containerFloat::after {
    content: "";
    display: table;
    clear: both;
    width: 100%;
}

.floatLeft {
    float: left;
}

.floatRight {
    float: right;
}

.example1 {
    margin: 4px;
}


.example1 thead {
    text-align: center;
    border-color: cadetblue;
    background-color: cadetblue;
    color: midnightblue;
    font-size: 16px;
}

.example1 td {
    padding: 20px;
    text-align: center;
    border-color: cadetblue;
    border-width: 12px;
}

.example1 .exwindow {
    color: hwb(36 80% 0%);
    background-color: rgba(156, 108, 17, 0.452);
    border-color: rgba(169, 169, 169, 0.4);
    border-style: solid;
    border-width: 2px;
    padding: 20px;
    ;
}

.title {
    margin: 0;
    margin-left: 4px;
    padding-top: 24px;
    font-size: 20px;
    text-decoration: underline;
}

.content {
    padding: 4px;
}

.nextTable {
    margin: 0 auto;
    text-align: center;
    width: 60%;
    font-size: 14px;
    line-height: 22px;
}

.nextTable em {
    color: blanchedalmond;
}

.nextTable td {
    min-width: 10%;
}

.dropdown {
    position: relative;
    display: inline-block;
}

.dropdownContent {
    display: none;
    position: absolute;
    background-color: rgb(4, 4, 107);
    min-width: 160px;
    box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
    z-index: 1;
}

.dropdown:hover .dropdownContent {
    display: block;
}

/* Style the dropdown items */
.dropdownContent ul {
    list-style: none;
    margin: 0;
    padding: 0;
}

.dropdownContent li {
    list-style: none;
    margin: 0;
    padding: 0;
    padding-left: 4px;
}

/* Change background color of dropdown items on hover */
.dropdownContent p:hover {
    background-color: #ddd;
}

.spacer {
    width: 25%;
    height: 1px;

    margin: 64px auto;
    margin-bottom: -16px;

    background-color: aquamarine;
}

.highlighted {
    display: block;
}

.notHighlighted {
    display: none;
}

.clearFloat::after {
    clear: both;
    display: block;
  }