.intro {
    width: 75%;
    padding: 0 2.5%;
    margin: 0 auto;
    color: rgb(66, 26, 26);
    text-align: center;
    background: linear-gradient(to right, rgba(255, 0, 0, 0) 0%, rgb(255, 228, 192) 5%, rgb(255, 228, 192) 95%, rgba(255, 0, 0, 0) 100%);
}

.intro h1 {
    text-decoration: underline;
    font-size: max(5vw, 4.5vh);
    font-family: var(--font-eaglespcga_alt2x2y);
}

.intro h2 {
    margin-top: max(-2vw, -1vh);
    font-family: var(--font-toshibatxl2);
    font-size: max(2.25vw, 1.5vh);
    line-height: max(2vw, 1vh);
}

.spacer {
    margin: 0 auto;
    width: 50%;
    height: 1px;
    background-color: brown;
    margin-top: max(1.75vw, 2vh);
    margin-bottom: max(1.75vw, 2vh);
}

.sections {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    width: 100%;
    gap: 5%;
    padding-left: 10%;
    padding-right: 10%;
    margin: auto auto;
}

.sections > * {
    flex: 1 1 00px; /* Grow, shrink, and base width of 400px */
    max-width: 700px; /* Max width of 600px */
    min-width: 00px; /* Minimum width of 400px */
    box-sizing: border-box; /* Include padding in width calculations */
}

@media all and (-webkit-min-device-pixel-ratio:0) and (min-resolution: .001dpcm) {
    .noise {
        filter: contrast(125%) brightness(650%) invert(100%);
        mix-blend-mode: color-dodge;
    }
}